<div class="container mt-4">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">imagen</th>
            <th scope="col">Precio</th>
            <th scope="col">cantidad</th>
            <th scope="col">Subtotal</th>
          </tr>
        </thead>
        <tbody>
          <tr class="align-middle">
            <td><img src="../../../assets/images/t1.jpg" width="100px" alt=""></td>
            <td>400 €</td>
            <td>
                <button type="button" class="btn btn-primary">
                    <i class="fa fa-plus"></i>
                  </button>
                  <span style="padding: 5px">1</span>
                  <button type="button" class="btn btn-primary">
                    <i class="fa fa-minus"></i>
                  </button>
            </td>
            <td>800 €</td>
          </tr>
          <tr class="align-middle">
            <td><img src="../../../assets/images/t3.jpg" width="100px" alt=""></td>
            <td>400 €</td>
            <td>
                <button type="button" class="btn btn-primary">
                    <i class="fa fa-plus"></i>
                  </button>
                  <span style="padding: 5px">1</span>
                  <button type="button" class="btn btn-primary">
                    <i class="fa fa-minus"></i>
                  </button>
            </td>
            <td>800 €</td>
          </tr>
          <tr class="align-middle">
            <td><img src="../../../assets/images/t2.jpg" width="100px" alt=""></td>
            <td>400 €</td>
            <td>
                <button type="button" class="btn btn-primary">
                    <i class="fa fa-plus"></i>
                  </button>
                  <span style="padding: 5px">1</span>
                  <button type="button" class="btn btn-primary">
                    <i class="fa fa-minus"></i>
                  </button>
            </td>
            <td>800 €</td>
          </tr>
        </tbody>
      </table>
</div>