header{
    background: rgb(100, 6, 6);
    padding:18px 0;
   
    
}
.cart_icon{
    position: relative;
    cursor:pointer;
    display:inline;

}
.cart_icon i{
    font-size: 24px;
    color: aliceblue;
    margin-right: 30px;
}
.cart_icon:focus{
    outline: none;
    border:none;
   
}
.cart_value{
    font-weight: bold;
    position: absolute;
    top:-19px;
    right:-10px;
    background-color: aliceblue;
    border: 1px solid beige;
    border-radius: 50px;
    padding:4px 10px;
    font-size: 16px;


    
}
